@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  background-color: rgb(16, 31, 43);
  text-align: center;
  font-family: "Tourney", cursive;
  font-weight: 300;
  color: white;
}



.result {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  background-color:rgb(16, 31, 43);
  margin-top: 6rem;
  align-items: center;
}


.container {
  margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    
}

.btn {
    font-family: 'Bebas Neue', cursive;
    width: 300px;
    height: 100px;
    border: none;
    color: white;
    background-color: #238465;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 rgb(231, 235, 38);
    transition: ease-out 0.3s;
    font-size: 2rem;
    outline: none;
}

.btn:hover {
    box-shadow: inset 300px 0 0 0 rgb(231, 235, 38);
    cursor: pointer;
    color: black;
}

.dice_wrapper {
  display: flex;
  flex-direction: row;
}

.dice {
  background-color: white;
  border-color:#238465;
  border-style: solid;
  border-radius: 20px;
  width: 120px;
  height: 120px;
  margin: 6px;
}

.rows {
  display: flex;
  justify-content: space-between;
  height: 33%;
  width: 33%;
  margin: 0%;
  
}

.dots {
  background-color: white; /*punkte bleiben schwarz*/
  border-radius: 50%;
  margin: 15%;
  height: 70%;
  width: 70%;
}

#progressBar {
  width: 20rem;
  height: 4rem;
  border: 0.3rem solid #238465;
  margin-top: 1.5rem;
}

#progressBarFull {
  height: 3.4rem;
  background-color: #238465;
  width: 0%;
}


@media (max-width: 700px) {
  .dice_wrapper {
    flex-direction: column;
  }